python/static/js/MapWeb.js
**/api_config.py
**/__pycache__/
*.pyc
**/twitter_trends.db
python/data/twitter_trends.db
.vscode/settings.json
myapp.log
.cleanup_db.py.swp
docs/Data Science Bootcamp-Final Project-Summary.mp4
docs/GeoTweet-visualization-screenshot.wmv
